aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.7.1
Automat==22.10.0
binance-futures-connector==3.2.0
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.5
constantly==15.1.0
cryptography==37.0.2
distlib==0.3.6
filelock==3.8.0
frozenlist==1.3.0
google-api-core==2.10.1
google-api-python-client==2.63.0
google-auth==2.12.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.4
httplib2==0.20.4
hyperlink==21.0.0
idna==3.3
incremental==22.10.0
multidict==6.0.2
numpy==1.23.5
platformdirs==2.5.3
protobuf==4.21.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pygame==2.0.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyTelegramBotAPI==4.5.1
requests==2.28.1
rsa==4.9
service-identity==21.1.0
simple-draw==2.7.0
six==1.16.0
TA-Lib @ file:///C:/Users/%D0%B0%D0%B4%D0%BC%D0%B8%D0%BD/TA_Lib-0.4.24-cp38-cp38-win_amd64.whl
TelegramBotAPI==0.3.2
telegramgetbotip==0.1.4
telepot==12.7
termcolor==1.1.0
tqdm==4.64.1
Twisted==22.10.0
twisted-iocpsupport==1.0.2
txaio==22.2.1
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.9
virtualenv==20.16.6
virtualenvwrapper-win==1.2.7
yarl==1.7.2
zope.interface==5.5.2
